$bg-color: #c09062;
$hover-color: #9a734e;
$font-color: #1e1e1e;

$middle: 1300px;
$th:  1050px;
$mobile : 798px;
$small: 480px;

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body,
html {
    height: 100%;
    font-family: "Lato", sans-serif;
}

.hero {
    background: url("../../public/Hero_Image2.png") no-repeat center
        center/cover;
    height: 70vh;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @media(max-width: $th) {
        padding: 0px 3% 50px;
    }

    //   padding: 0 20px;

    .background {
        position: absolute;
        width: 100%;
        height: 70%;
        background-color: rgba(18,18,18,0.1);

    }

    .hero-content {
        width: 100%;
        z-index: 1;
        padding: 30px 5%;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            ul.main_menu {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                list-style-type: none;
                font-family: "Lato";
                font-size: 12px;

                .active {
                    border-bottom: 2px solid;
                }

                .langs {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                    border-radius: 5px;

                    a {
                        color: $font-color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 30px;
                        width: 55px;
                        border-radius: 5px;
                    }

                    .active {
                        background: $bg_color;
                        color: #fff;
                        border: solid $bg-color;
                    }
                }

                li {
                    margin-right: 20px;

                    a {
                        text-decoration: none;
                        color: #fff;
                        text-transform: uppercase;
                    }
                }


                 li:not(.langs){
                    padding-bottom: 4px;
                }
            }

            .sub_menu {
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style-type: none;
                font-family: "Lato";
                font-size: 12px;

                margin-top: 30px;

                .active {
                    background: $bg_color;

                    a {
                        color: #fff;
                    }
                }

                li {
                    padding: 15px 25px;
                    cursor: pointer;
                    background-color: #fff;

                    a {
                        text-decoration: none;
                        color: #fff;
                        text-transform: uppercase;
                        color: $font-color;
                        font-size: 14px;
                    }

                    &:hover {
                        background: $hover-color;
                        a {
                            color: #fff;
                        }
                    }

                    &:first-child {
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                    }

                      &:last-child {
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }

                }







            }
        }

        .bottom {
            text-align: center;
            margin-top: 15vh;

            .search-row {
                height: 50px;
                margin-top: 25px;
                display: inline-flex;
                align-items: center;

                & > img {
                    background-color: #afafaf;
                    padding: 15px 15px 14px;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    cursor: pointer;

                    &:hover {
                        background-color: $bg-color;
                    }
                }
            }

            button.button {
                padding: 13px 24px;
                background-color: #fff;
                color: #000;
                font-size: 18px;
                text-decoration: none;
                display: inline-block;
                border-radius: 8px;
                margin-left: 5px;
                font-family: "Lato";
                border: none;
                outline: none;
                cursor: pointer;
                display: flex;
                position: relative;

                &:hover {
                    background-color: $bg-color;
                    color: #fff;

                    img#black {
                        display: none !important;
                    }
                    img#white {
                        display: block !important;
                        transform: rotate(180deg);
                    }
                }

                img {
                    vertical-align: middle;
                    margin-left: 5px;
                    // transform: rotate(180deg);
                }

                img#white {
                    display: none;
                }

                div {
                    width: 27px;
                }
            }

            .active {
                background-color: $bg-color !important;
                color: #fff !important;

                img#black {
                    display: none !important;
                }
                img#white {
                    display: block !important;
                }

                &:hover {
                    img#white {
                        transform: rotate(0deg) !important;
                    }
                }
            }

            .arrow {
                transform: rotate(90deg);
                display: inline-block;
                font-size: 1.5rem;
            }

            input[type="text"] {
                min-width: 500px;
                height: 100%;
                outline: none;
                border: none;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                padding: 5px 15px;
                font-size: 18px;
                font-family: "Lato";
            }

            input[type="text"]::placeholder {
                // opacity: 1;
                color: $font-color;
            }

            h2 {
                font-family: "PlayfairDisplay";
                font-size: 56px;
                //   margin-bottom: 20px;

                @media(max-width: 1500px){
                    font-size: 44px;
                }




            }
        }
    }
}

.search_block {
    // overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s ease, opacity 1.6s ease, visibility 1.6s ease;
    opacity: 0;
    visibility: hidden;

    form {
        width: 100%;
        text-align: center;

        margin: 0 auto;
        background-color: #e9e9e9;

        .first_content {
            padding-bottom: 0 !important;
        }

        .second_content {
            padding-top: 15px !important;
        }

        .content {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 40px 10%;

            @media(max-width: 1450px){
                padding: 40px 2%;
                flex-wrap: wrap;
            }


             @media(max-width: $mobile){
                flex-direction: column;
                align-items: flex-start;
                width: max-content;
                margin: 0 auto;
            }

            .column {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                color: #717171;
                min-width: 250px;

                   @media(max-width: 1200px){
                    width: 45%;
                    margin-bottom: 50px;
                }


                @media(max-width: $mobile){
                    margin-bottom: 20px;
                    min-width: 250px;
                    width: 250px;
                }

                select {
                    background-color: #fff;
                    padding: 10px;
                    border: none;
                    outline: none;
                    font-size: 14px;
                    color: #717171;
                    border-right: 10px solid transparent;
                    width: 100%;
                    // appearance: none;
                     appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background: white;
                    padding-right: 1.5em;
                    background-image: none;
                    position: relative;


                }

                  .select-wrapper {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                    }

                    .select-wrapper::after {
                        content: "▼";              /* Your custom arrow */
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        pointer-events: none;      /* So clicks go to select */
                        font-size: 0.8em;
                        color: #717171;
                    }



                .from_to {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;


                    input[type="text"] {
                        border: none;
                        width: 70px;
                        text-align: center;
                        margin: 0 10px;
                        padding: 10px 13px;
                    }
                }

                & > div:nth-child(2),
                & > div:nth-child(3),
                & > div:nth-child(4),
                & > div:nth-child(5),
                & > div:nth-child(6),
                select:nth-child(2), select:nth-child(3),
                 select:nth-child(4), select:nth-child(5)
                 {
                    margin: 15px 0 0;
                }



                .with_photos {
                    cursor: pointer;
                    user-select: none;

                    input[type="checkbox"] {
                        margin-right: 5px;
                    }
                }
            }
        }

        .button_search {
            input[type="submit"] {
                width: 100%;
                background-color: #c09062;
                border: none;
                padding: 15px 0;
                color: #fff;
                text-transform: uppercase;
                font-size: 16px;
                cursor: pointer;
            }
        }
    }
}

main {
    padding: 50px 5% 0;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 32px;
            font-family: "PlayfairDisplay";
            text-transform: capitalize;


            @media(max-width: $mobile){
                font-size: 24px;
            }

        }

        .view {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                margin-left: 10px;
            }

            img:not(.active) {
                cursor: pointer;
            }

            @media(max-width: $mobile){
                display: none;
            }

        }
    }

    .items {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 50px;

        @media(max-width: $mobile){
            margin-top: 20px;
         }

        .item:not(:nth-child(4n)) {
            margin-right: 2%;


             @media(max-width: $mobile){
                margin-right: 0%;
            }

        }

        .item {
            width: 23%;
            margin-bottom: 50px;
            border-radius: 12px;
            box-shadow: 0px 0px 5px 1px #b7b7b7;
            // padding: 20px;


            @media(max-width: 1610px){
                width: 31%;
            }


            @media(max-width: 1110px){
                width: 48%;
            }


            @media(max-width: $mobile){
                width: 100%;
            }

            img {
                height: 210px;
                width: 100%;
                object-fit: cover;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                cursor: pointer;
            }

            .data {
                background-color: $bg-color;
                color: #fff;
                padding: 15px;
                display: flex;
                justify-content: center;
                margin-top: -3px;
                font-size: 10px;
                align-items: center;

                 @media(max-width: $mobile){
                    font-size: 12px;
                }


                 span:not(:first-child) {
                        margin-left: 10px;


                        @media(max-width: $mobile){
                          margin-left: 10px;
                    }

                    }
                    span:not(:last-child) {
                        padding-right: 15px;
                        border-right: 1px solid #fff;

                        @media(max-width: $mobile){
                             padding-right: 10px;
                        }


                    }

                   span {
                    text-align: center;
                   }

            }

            .description {
                padding: 30px 20px;

                h4 {
                    font-size: 16px;
                    color: #544e52;
                    margin-bottom: 15px;
                    cursor: pointer;

                      @media(max-width: $mobile){
                             font-size: 20px;
                        }


                }

                .text {
                    font-size: 12px;
                    color: #828282;
                    height: 59px;
                    overflow-y: hidden;
                    position: relative;


                    @media(max-width: $mobile){
                             font-size: 18px;
                              height: 70px;
                        }


                }
            }

            .price {
                background-color: #062d26;
                padding: 20px 40px;
                color: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 20px;
                font-weight: bold;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;


                @media(max-width: $mobile){
                             font-size: 22.5px;
                        }

                .more {
                    font-size: 12px;
                    padding: 12px;
                    background-color: $bg-color;
                    border: none;
                    outline: none;
                    color: #fff;
                    border-radius: 5px;
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: pointer;




                     @media(max-width: $mobile){
                             font-size: 19.23px;
                             font-weight: normal;
                        }
                }
            }
        }

        .item_block {
            width: 100%;
            border: 1px solid #cfcfcf;
            margin-bottom: 50px;
            border-radius: 12px;
            display: flex;
            padding: 5px;

            .no_items {
                padding: 20px 0;
                text-align: center;
                margin: 0 auto;
                font-weight: normal;
            }

            .image {
                cursor: pointer;
            }

            img {
                // height: 100%;
                height: 290px;
                width: 298px;
                object-fit: cover;
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
            }

            .data_wrap {
                // flex-direction: column;
                // justify-content: space-between;
                width: 100%;

                .data {
                    padding: 0 0 20px;
                    display: flex;
                    justify-content: flex-start;

                    span {
                        // margin-right: 10px;
                        font-size: 14px;
                        color: #544e52;
                    }

                    span:not(:first-child) {
                        margin-left: 10px;
                    }
                    span:not(:last-child) {
                        padding-right: 10px;
                        border-right: 1px solid #544e52;
                    }
                }

                .description {
                    padding: 25px 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;

                    h4 {
                        font-size: 24px;
                        color: #544e52;
                        margin-bottom: 15px;
                        cursor: pointer;
                    }

                    .text {
                        font-size: 16px;
                        color: #828282;
                        max-height: 100px;
                        overflow-y: auto;
                    }
                }

                .price {
                    font-size: 32px;
                    font-weight: bold;
                    padding: 15px 0 0;
                }
            }
        }
    }
}


.contact_wrap {

    margin: 50px 5% 50px;
    padding: 20px;
    border: 2px solid #f5f5f5;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;

    @media(max-width: $th){
        flex-direction: column;
    }



     h2 {
        font-size: 32px;
        font-family: "PlayfairDisplay";
        margin-bottom: 15px;
    }

    ul {
        font-family: "Lato";
        color: #544E52;

        li {
            margin-bottom: 10px;
        }
    }






    form {

        margin-top: 10px;



        input, textarea{
            background-color: #f5ede6;
            border: none;
            outline: none;
            border-radius: 8px;
            font-size: 16px;
            color: #544E52;
            width: 100%;
            font-family: "Lato";
        }


        input{
            margin-bottom: 10px;
             padding: 15px 10px;
         }

         input[type="submit"] {
            background: #c09062;
            color: #fff;
            text-transform: uppercase;
            cursor: pointer;
            margin-bottom: 0;
         }

        textarea {
            width: 100%;
            margin-bottom: 10px;
            height: 150px;
            padding: 15px 10px;
        }

        .name {
            display: flex;
            justify-content: space-between;

            input{
                width: 49%;
            }
        }


    }



    .contact_info {
        display: flex;
        flex-direction: column;
        padding-right: 1%;
    }

    & > div {
        width: 50%;

         @media(max-width: $th){
            width: 100%;
            padding-right: 0%;
            margin-bottom: 50px;
        }
    }


    .map {
        border-radius: 20px;
        overflow: hidden;


        @media(max-width: $th){
            height: 500px;
            overflow: auto;
            margin-bottom: 0;
        }

    }

}


.partners_wrap{

    padding: 50px 10% 50px;

    h2 {
        font-size: 36px;
        text-align: center;
        font-family: "PlayfairDisplay";
    }


    & > p {
        margin-top: 20px;
        text-align: center;
    }

    p {
        font-size: 16px;
        color: #828282;
    }


    .partners_block {
        display: flex;
        flex-wrap: wrap;
        margin: 50px 0;
        justify-content: space-between;

        .block:nth-child(2n){
            margin-left: 4%;

                @media(max-width: $th){
                    margin-left: 0;
                }


        }

        .block {
            width:  48%;
            box-shadow: 0px 0px 0px 2px rgb(207, 207, 207);
            border-radius: 12px;
            margin: 2% 0;

            @media(max-width: $th){
                width: 100%;
            }



            .image{
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                background: #f5ede6;
                height: 50%;
                padding: 10%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 260px;


                img {
                     @media(max-width: $small){
                        width: 100%;
                    }
                }


            }


            .info{

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 4% 4% 0;
                justify-content: space-between;
                // height: 50%;


                .top {
                    @media(max-width: $th){
                        text-align: center;
                    }
                }


                  @media(max-width: $th){
                        align-items: center;
                    }

                h3{
                    font-size: 32px;
                    color: #544e52;
                    font-family: "PlayfairDisplay";
                }

                p {
                    margin: 4% 0 6%;
                }


                .send {
                    font-size: 14px;
                    padding: 20px 25px;
                    margin-bottom: 4%;

                    @media(max-width: $th){
                        margin-top: 0;
                        margin-bottom: 6%;
                    }

                }
            }
        }
    }

}

.services_wrap {


     h2 {
        font-size: 36px;
        text-align: center;
        font-family: "PlayfairDisplay";
    }


    & > p {
        margin-top: 20px;
        text-align: center;
    }

    p, ul li {
        font-size: 16px;
        color: #828282;
    }

    padding: 50px 10% 50px;

    .services_block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px 0;



        .block {
            width: 30%;
            background-color: #FCF9F7;
            border-radius: 12px;
            margin: 1.5%;
            text-align: center;
            padding: 20px 20px 50px;


            @media(max-width: $th){
                width: 100%;
            }



            img{
                width: 12%;
                margin: 20px 40px;
            }


            h3{
                font-family: "PlayfairDisplay";
                font-size: 28px;
                color: #544E52;
                margin-bottom: 20px;
            }

            ul {
                list-style: disc;
                width: fit-content;
                margin: 0 auto;
                text-align: left;
                padding: 0 25px;
            }

        }
    }

}

     .send {
                font-size: 12px;
                padding: 12px 25px;
                background-color: $bg-color;
                border: none;
                outline: none;
                color: #fff;
                border-radius: 5px;
                text-transform: uppercase;
                cursor: pointer;
                // font-weight: bold;

                 @media(max-width: $th){
                    margin-top: 20px;
                }

            }

.hero_bottom {
    background: url("../../public/hero_bottom.jpg") no-repeat center
        center/cover;
    height: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    .background {
        position: absolute;
        width: 100%;
        height: 400px;
        background-color: #000;
        opacity: 0.6;
    }

    .hero-content {
        width: 100%;
        z-index: 1;
        padding: 30px 5%;
        text-align: center;

        .search-row {
            height: 50px;
            margin-top: 20px;
            display: inline-flex;
            align-items: center;
        }

        button.button {
            padding: 15px 30px;
            background-color: $bg-color;
            color: white;
            font-size: 1rem;
            text-decoration: none;
            display: inline-block;
            border-radius: 8px;
            margin-left: 5px;
            font-family: "Lato";
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 16px;
            margin-top: 40px;


            @media(max-width: $mobile) {
                font-size: 12px;
            }

        }

        h2 {
            font-family: "PlayfairDisplay";
            font-size: 40px;
            text-align: center;


            @media(max-width: $mobile){
                font-size: 20px;
            }



        }
    }
}

.footer {
    background-color: #000;
    padding: 30px 5%;

    .top {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding: 30px 0;

        @media(max-width: $mobile) {
            align-items: flex-start;
        }


        .column {
            h4 {
                color: #fff;
                text-transform: uppercase;
                font-weight: normal;
                font-size: 18px;
            }

            ul {
                margin-top: 20px;

                li {
                    margin-bottom: 10px;

                    a {
                        text-decoration: none;
                        font-size: 14px;
                    }
                }
            }
        }

        .sert {
            display: flex;
            flex-direction: column;

            img {
                max-width: 90px;
            }

            & > img:nth-child(2) {
                margin: 20px 0;
            }
        }

        .sert-mobile {

            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            flex-wrap: wrap;


             img {
                max-width: 90px;


                 @media(max-width: $small){
                        max-width: 75px;
                    }

            }
        }

        a {
            color: #fff;
        }
    }

    .top:first-child {
         @media(max-width: $mobile) {
            border-bottom: none;
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding: 20px 0 0;

         @media(max-width: $mobile) {
            flex-direction: column;
            align-items: flex-start;
        }

        .middle {
            p {
                color: #9a9ea5;

                 @media(max-width: $mobile) {
                    font-size: 12px;
                }


            }



             @media(max-width: $mobile) {
                width: 100%;
                justify-content: space-between;
             }
        }

        .socials {
            a:nth-child(3) img {
                margin: 0 10px;
            }


            @media(max-width: $mobile) {
                    font-size: 12px;
                    margin: 10px 0;
                }
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;


            p {
                margin-right: 15px;
            }
        }

        a {
            color: #9a9ea5;
            text-decoration: none;

            @media(max-width: $mobile) {
                    font-size: 12px;
                }
        }
    }
}

.visible {
    display: block !important;
}


.open_search {
    max-height: 1500px; /* large enough to fit content */
    opacity: 1;
    transition: max-height 0.6s ease, opacity 0.6s ease, visibility 0.6s ease;
    visibility: visible;
}

.skelbimas_item {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0px 0 50px;


    @media(max-width: $th) {
        flex-direction: column;
    }

    & > .left {
        width: 50%;


         @media(max-width: $th) {
            width: 100%;

        }

        .slider-container {
            position: relative;
            // max-width: 600px;
            margin: 0px auto;
        }

        .main-image {
            width: 100%;
            aspect-ratio: 7 / 5;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            cursor: zoom-in;
        }

        .arrow {
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            background: transparent;
            color: white;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
            font-size: 24px;
            border-radius: 50%;
            z-index: 10;

             @media(max-width: $mobile){
                display: none;
            }

            &.left {
                left: 10px;
            }
            &.right {
                right: 10px;
            }
        }
        .thumbnails-wrapper {
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .thumbnails-container {
            overflow: hidden;
            width: 100%;
        }

        .thumbnails {
            display: flex;
            transition: transform 0.4s ease;
        }

        .thumbnail {
            width: 24%;
            aspect-ratio: 3 / 2;
            object-fit: cover;
            margin-right: 10px;
            border-radius: 4px;
            border: 2px solid transparent;
            cursor: pointer;
            flex-shrink: 0;

            @media (max-width: 480px) {
                width: 60px;
                height: 45px;
            }
        }

        .active {
            border: 2px solid #c09062;
        }

        .thumbnails-container {
            width: 100%;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 1);
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            box-sizing: border-box;
        }

        .modal-content-wrapper {
            max-width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .modal-content {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .modal-content img {
            max-width: 100%;
            max-height: 80vh;
            height: 80vh;
            border-radius: 4px;
            user-select: none;
        }

        .modal-close {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 30px;
            color: #6e6e6e;
            cursor: pointer;
            z-index: 10;
        }

        .nav-button {
            font-size: 40px;
            color: white;
            cursor: pointer;
            user-select: none;
            padding: 30px 20px;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            transition: background 0.3s;
            z-index: 2;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            @media(max-width: $mobile){
                display: none;
            }

        }

        .left-button {
            left: 0;
        }

        .right-button {
            right: 0;
        }

        .nav-button:hover {
            background: rgba(0, 0, 0, 0.6);
        }

        .modal-thumbnails {
            display: flex;
            gap: 10px;
            margin-top: 15px;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }

        .modal-thumbnails .thumbnail {
            width: 80px;
            height: 60px;
            background-size: cover;
            background-position: center;
            border: 2px solid transparent;
            cursor: pointer;
        }

        .modal-thumbnails .thumbnail.active {
            border-color: #00d1ff;
        }
    }

    & > .right {
        width: 50%;
        margin-left: 50px;

          @media(max-width: $th){
                width: 100%;
                margin-left: 0;
                margin-top: 50px;
            }

        h2 {
            font-family: "PlayfairDisplay";
            font-size: 32px;
            margin-bottom: 20px;



          @media(max-width: $mobile){
                font-size: 24px;
            }
        }

        table {
            width: 100%;
            height: calc(100% - 63px);
            border-radius: 12px;
            // border: 1px solid #cfcfcf;
            border-collapse: collapse;

            tr:nth-child(2n + 1) {
                background: #c0906229;
            }

            tr {
                td {
                    padding: 8px 16px;
                    font-size: 16px;

                    @media(max-width: $mobile){
                        font-size: 14px;
                    }

                }
            }
        }
    }
    }

    .manager {
        display: flex;
        justify-content: flex-start;
        border: 1px solid #cfcfcf;
        border-radius: 12px;
        margin-top: 50px;

          @media(max-width: $th){
                 display: flex !important;
                    margin-bottom: 50px;
                }

           @media(max-width: $small){
                    flex-direction: column;
                    align-items: center;
                }


        .info {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #111827;
            width: 68%;
            align-items: flex-start;


             @media(max-width: $mobile){
                    align-items: center;
                    // width: 100%;
                }

                @media(max-width: $small){
                    width: 100%;
                }



            .top {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                align-items: flex-end;

                 @media(max-width: $middle){
                    flex-direction: column;
                    align-items: flex-start;
                }

                   @media(max-width: $mobile){
                    align-items: center;
                }

                h4 {
                    font-family: "PlayfairDisplay";
                    font-size: 20px;
                    margin-bottom: -3px;
                }

                span:not(.separator) {
                    // margin-top: 10px;
                    font-family: "Lato";
                    font-size: 12px;
                    color: #062d2699;
                }

                .separator {
                    margin: 0 10px;
                    color: #062d2699;
                    font-size: 20px;

                     @media(max-width: $middle){
                        visibility: hidden;
                        font-size: 7px;
                    }


                }
            }

            .middle {

                @media(max-width: $mobile){
                    text-align: center;
                }

                & > p:first-child {
                    margin-bottom: 10px;
                }

                p {
                    color: #717171;
                    a {
                        // font-weight: bold;
                        color: inherit;
                        margin-left: 10px;
                        font-size: 12px;
                    }
                }
            }


        }

        .image {
            width: 32%;
            max-height: 200px;
            overflow: hidden;
            border-right: 1px solid #cfcfcf;
            // border-radius: 8px;
            margin: 5px;

             @media(max-width: $th){
                   min-width: 200px;
                }


            img {
                // width: 100%;
                // max-height: 200px;
                height: 100%;
                object-fit: cover;
                object-position: top;
                border-radius: 8px;


                @media(max-width: $th){
                     max-height: 200px;
                    //  aspect-ratio: 1 / 1;
                }


                // @media(max-width: $small){
                //     width: 100%;
                //      max-height: 250px;
                //     //  aspect-ratio: 1 / 1;
                // }

            }
        }
    }


.desc {
    padding: 20px 0;

    h3 {
        font-size: 32px;
        font-family: "PlayfairDisplay";
        margin-bottom: 10px;

          @media(max-width: $mobile){
            font-size: 24px;
         }
    }

    p {
        font-family: "Lato";
        font-size: 16px;
        white-space: pre-wrap;


        @media(max-width: $mobile){
            font-size: 14px;
         }
    }
}

.similar {

     @media(max-width: $mobile){
            margin-top: 50px;
         }


    h3 {
        font-size: 32px;
        font-family: "PlayfairDisplay";
        margin-bottom: 10px;


         @media(max-width: $mobile){
            font-size: 24px;
            margin-bottom: 10px;
         }
    }
}

    .open {
        transform: translateX(100%);
    }

    .close {
        transform: translateX(0%);
    }

    .open, .close {
        transition: .4s;
    }

    .mobile-menu-list{
        background: linear-gradient(to right, #fff 80%, rgba(255,255,255, 0) 20%);
        padding: 20px;
        position: fixed;
        top: 0;
        left: -100%;
        bottom: 0;
        z-index: 3;
        width: 100%;
        padding-right: calc(20% + 20px);


            .active a {
                text-decoration: underline;
            }


        .top{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            & > img {
                padding: 10px;
                cursor: pointer;
            }


        }

         ul{

                display: flex;
                flex-direction: column;
                // align-items: center;
                // justify-content: flex-end;
                list-style-type: none;
                font-family: "Lato";
                font-size: 14px;
                 padding-bottom: 500px;

                .langs {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    background-color: #fff;
                    border-radius: 5px;

                    a {
                        color: $font-color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 30px;
                        width: 55px;
                        border-radius: 5px;
                        color: #656565;
                    }

                    .active {
                        background: $bg_color;
                        color: #fff;
                        border: 1px solid $bg-color;
                        border-radius: 4px;
                    }
                }

                li {
                    padding: 15px;

                    &:not(:last-child){
                        border-bottom: 1px solid #e2e2e2;
                    }

                    a {
                        text-decoration: none;
                        color: #656565;
                        text-transform: uppercase;
                    }
                }
            }




    }

#middle_view{
    display: none;
}


 .overlay {
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }

    /* Popup form box */
    .popup-form {
      background: white;
      padding: 20px 30px;
      border-radius: 8px;
      width: 500px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.3);
      position: relative;
    }

    .popup-form h2 {
      margin-top: 10px;
      margin-bottom: 20px;
      font-family: "PlayfairDisplay";
    }

    .popup-form input,
    .popup-form textarea {
      width: 100%;
      padding: 15px 10px;
      margin-top: 10px;
      margin-bottom: 5px;
      border: none;
      outline: none;
      border-radius: 4px;
      background-color: #f5ede6;
      font-family: "Lato";
    }

    .popup-form button {
    //   padding: 10px 15px;
    //   background-color: #007bff;
    //   color: white;
    //   border: none;
    //   border-radius: 4px;
    //   cursor: pointer;
        // float: right;
        margin-top: 10px;
    }

    .popup-form .close-btn {
      position: absolute;
      top: 10px;
      right: 25px;
      background: none;
      border: none;
      font-size: 27px;
      cursor: pointer;
      color: #000;
    }


    .popup-form .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .popup-form .bottom span {
        color: #0d1328;
        font-size: 15px;
    }


.disabled {
    opacity: 0.7;
}

 .mobile {
        display: none;
        height: auto;
        position: relative;



        .background {
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

        .hero-content-mobile {
            z-index: 1;
            position: relative;
            width: 100%;

            .top{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px 2%;


                .mobile-menu{
                    cursor: pointer;
                    padding-left: 10px;
                    margin-bottom: 50px;
                }

            }

            .middle {
                // text-align: right;
                display: flex;
                justify-content: flex-end;


                ul {
                    list-style: none;

                    .active {
                        background: $bg_color;

                        a {
                            color: #fff;
                        }
                    }


                     li {
                            padding: 15px 25px;
                            cursor: pointer;
                            background-color: #fff;
                            text-align: center;

                    a {
                        text-decoration: none;
                        color: #fff;
                        text-transform: uppercase;
                        color: $font-color;
                        font-size: 14px;
                    }

                    &:hover {
                        background: $hover-color;
                        a {
                            color: #fff;
                        }
                    }


                    &:first-child {
                        border-top-left-radius: 8px;
                    }

                    &:last-child {
                        border-bottom-left-radius: 8px;
                    }

                }


                }


            }

            .bottom {
            text-align: center;
            width: 90%;
            margin: 50px auto 0;

            .search-row {
                height: 50px;
                margin-top: 25px;
                display: inline-flex;
                align-items: center;
                width: 100%;


                & > img {
                    background-color: #afafaf;
                    padding: 15px 15px 14px;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    cursor: pointer;

                    &:hover {
                        background-color: $bg-color;
                    }
                }
            }

            button.button {
                width: 100%;
                padding: 13px 24px;
                background-color: #fff;
                color: #000;
                font-size: 16px;
                text-decoration: none;
                display: inline-block;
                border-radius: 8px;
                font-family: "Lato";
                border: none;
                outline: none;
                cursor: pointer;
                display: flex;
                position: relative;
                justify-content: center;
                margin-top: 10px;

                &:hover {
                    background-color: $bg-color;
                    color: #fff;

                    img#black {
                        display: none !important;
                    }
                    img#white {
                        display: block !important;
                        transform: rotate(180deg);
                    }
                }

                img {
                    vertical-align: middle;
                    margin-left: 5px;
                    // transform: rotate(180deg);
                }

                img#white {
                    display: none;
                }

                div {
                    width: 27px;
                }
            }

            .active {
                background-color: $bg-color !important;
                color: #fff !important;

                img#black {
                    display: none !important;
                }
                img#white {
                    display: block !important;
                }

                &:hover {
                    img#white {
                        transform: rotate(0deg) !important;
                    }
                }
            }

            .arrow {
                transform: rotate(90deg);
                display: inline-block;
                font-size: 1.5rem;
            }



            input[type="text"] {
                width: 100%;
                height: 100%;
                outline: none;
                border: none;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                padding: 5px 15px;
                font-size: 18px;
                font-family: "Lato";
            }

            input[type="text"]::placeholder {
                // opacity: 1;
                color: #828282;
            }

            h2 {
                font-family: "PlayfairDisplay";
                font-size: 34px;
                //   margin-bottom: 20px;
            }
        }



        }

    }


    .pagination nav {

        @media(max-width: $mobile){
            overflow: auto;
         }

        }

    div[class^='custom-select'], div[class*=' custom-select'] {


        width: 100% !important;

        @media(max-width: $mobile){
            width: 250px !important;
        }

    }

.mobile2 {
    display: none;
}


.cookie-consent{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    // padding-bottom: 0.5rem;

        & > div {
            // padding-left: 1.5rem;
            // padding-right: 1.5rem;
            // max-width: 80rem;

            & > div {
                padding: 1rem;
                border-radius: 0.1rem;
                background-color: #1d1d1d;




            & > div {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                & > div:first-child {
                    flex: 1 1 0%;
                    align-items: center;
                    max-width: 100%;


                    @media (min-width: $mobile) {
                        display: inline;
                        width: 0;
                    }

                    p {
                        color: #fff;


                        @media (min-width: $mobile) {
                            margin-left: 0.75rem;
                            color: #fff;
                        }
                    }


                }

                & > div:last-child {
                    margin-top: 0.5rem;
                    width: 100%;

                    @media (min-width: $mobile) {
                        margin-top: 0;
                        width: auto;
                    }


                    button {
                        display: flex;
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        justify-content: center;
                        align-items: center;
                        border-radius: 0.375rem;
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        font-weight: 500;
                        color: #fff;
                        background-color: $bg-color;
                        cursor: pointer;


                    }

                }

            }
        }
    }

}



@media(max-width: $th){
    .desktop {
        display: none !important;
    }

    .mobile {
        display: block ;
        align-items: center;
    }
    #middle_view{
        display: block !important;
    }
}



@media(max-width: $mobile){
    .desktop2 {
        display: none !important;
    }

    .mobile2 {
        display: block !important;
        align-items: center;
    }
}
